@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~flatpickr/dist/flatpickr.css";

@layer utilities {
    .w-1000 {
        width: 1000px;
    }
    .touch-action-none {
        touch-action: none;
    }
}

h1, h2, h3 {
    font-family: bely,sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* #photoSkill::before {
    content: url("/svgs/photo.svg");
    position: absolute;
} */


#design_skill_svg {
    z-index: -1;
}
#code_skill_svg {
    z-index: -1;
}
#photo_skill_svg {
    z-index: -1;
    left: 52px;
    top: 0px;
}


:root{
    --experience-color: #b8bb26;
    --translate-origin: 0px;
}

.logo-link.home {
    @apply cursor-not-allowed;
}

.logo-link.web-development {
    @apply bg-gruvbox-black text-gruvbox-green hover:text-gruvbox-purple;
}

.logo-link.photography {
    @apply bg-black text-white hover:text-black hover:bg-white;
}

#playground::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
#playground {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#photographer_wrap {
    justify-content: center;
    flex-wrap: wrap;
}

.square-film {
    background: url('https://res.cloudinary.com/treverhillis/image/upload/v1625022773/assets/_MG_3942_rjkx1x.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 375px;
    width: 375px;
}

.inset-text {
    background-color: #565656;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#homepage_tag {
    /* box-sizing: border-box; */
    /* border: 2px solid transparent; */
}
