@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~flatpickr/dist/flatpickr.css";

:root{
    --experience-color: #b8bb26;
}

.logo-link.home {
    @apply text-black cursor-not-allowed;
}

.logo-link.web-development {
    @apply bg-gruvbox-black text-gruvbox-green hover:text-gruvbox-purple;
}

.logo-link.photography {
    @apply bg-black text-white hover:text-black hover:bg-white;
}


#playground::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
#playground {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    touch-action: none;
}
